# Dependencies
node_modules/
package-lock.json
yarn.lock

# Directories
workpath/
test.aep Logs/
results/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

/modules_nexrender/
/modules_optimized/
/Adobe*
/test/
dist/